# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
aes
aes_ecb_posix
aes_ecb_openmp
aes_ctr_posix
aes_ctr_openmp
aes_ecb_mpi

# VsCode
.cph/
.vscode/

# TextPlain
*.txt